.c-main-header {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);

  .mat-badge-small {
    &.mat-badge-overlap {
      &.mat-badge-after {
        .mat-badge-content {
          right: 0px;
          top: 2px;
        }
      }
    }
  }
}
