$my-light-primary: mat-palette($mat-blue, 800);
$my-light-accent: mat-palette($mat-pink, 600);
$my-light-warn: mat-palette($mat-deep-orange, 200);

$my-light-theme: mat-light-theme(
  $my-light-primary,
  $my-light-accent,
  $my-light-warn
);
