// Sidebar
.c-sidebar {
  width: 200px;

  &.minimize {
    width: 60px;

    .c-mini-profile {
      img {
        height: auto;
        max-width: 100%;
      }
    }
  }

  .c-mini-profile {
    text-align: center;

    &.mat-card {
      &:not([class*=mat-elevation-z]) {
        box-shadow: unset;
      }
    }

    img {
      border-radius: 50%;
      height: 100px;
      margin-bottom: 10px;
    }
  }
}
