@import 'styles-variables';

@import '~bootstrap/scss/bootstrap';
@import 'style-reset';

@import '~@angular/material/theming';

@include mat-core();

@import './styles/themes/black-theme.scss';
@import './styles/themes/light-theme.scss';

// import custom component themes here
@import 'styles-reset.scss-theme';

@mixin custom-components-theme($theme) {
  @include my-styles-reset-theme($theme);
}

.my-light-theme {
  @include angular-material-theme($my-light-theme);
  @include custom-components-theme($my-light-theme);
}

.my-dark-theme {
  @include angular-material-theme($my-black-theme);
  @include custom-components-theme($my-black-theme);
}

// Helper Classes
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.spacer { flex: 1 1 auto; }


.c-vertical-menu {
  &.mat-list-base {
    padding: 0;
    height: 100%;

    .mat-list-item {
      .mat-list-item-content {
        padding: 0;

        .mat-button {
          padding: 0 16px;
          width: 100%;
          min-width: 100%;
          height: 100%;
          line-height: 48px;
          display: block;
          text-align: left;

          .mat-icon {
            margin-right: 10%;
          }
        }
      }

      &.c-divided-item {
        position: absolute;
        bottom: 0;
      }
    }
  }
}

.my-light-theme {
  .mat-toolbar {
    background: white;
  }
}

.c-main-header {
  .mat-badge-small {
    &.mat-badge-overlap {
      &.mat-badge-after {
        .mat-badge-content {
          right: 0px;
          top: 2px;
        }
      }
    }
  }
}
